*{
    box-sizing: border-box;
}

body{
    background-color: #621402;
    font-family: 'Roboto', sans-serif;
    color: #fff;
}

.time, .rating, .film, .navbar, .User, .film-details,
.session-date-item, .price {
    display: flex;
    align-items: center;
}

.Menu, .session, .session-date-block{
    display: flex;
}

.Header{
    padding-bottom: 60px;
    background: linear-gradient(180deg, rgba(98, 20, 2, 0.31) 0%, #621402 85.62%),
    url("/img/bg.png") no-repeat center top / cover;
}

.navbar{
    padding-top: 30px;
    padding-bottom: 30px; 
}

.Nav{
    position: relative;
}

.Container
{
    max-width: 1170px;
    margin: auto;
    width: 90%;
}

.Menu{
    list-style-type: none;
    margin: 0;
    margin-left: 17px; 
}

.Menu-item{
    margin-right: 25px;
}

.M-Menu{
    display: none ;
}

.Menu-link{
    text-decoration: none; 
}

.avatar{
    width: 33px;
    height: 33px;
    border-radius: 50%;
    margin-left: 11px;
}
.User{
    margin-left: auto;
}

.Description{
    margin-top: 60px;
}

.film{
    margin-top: 60px;
}

.film-title-small{
    opacity: 0.5;
    font-size: 24px;
    line-height: 150%
}
.film-title{
    font-size: 36px;
    line-height: 42px;
    margin-top: 11px;
    margin-bottom: 23px;
}

.film-description{
    font-size: 16px;
    line-height: 150%;
    max-width: 570px;
}

.film-trailer{
    margin: auto;
}

.time-icon{ 
    margin-right: 14px;
}

.rating{
    margin-left: 34px;
}
.film-details{
    margin-top: 50px;
}

.rating-current{
    font-size: 24px;
    line-height: 150%;
}

.rating-icon{
    margin-right: 14px;
}

.session{
    margin-top: 62px;
    padding-top: 46px;
    padding-bottom: 63px;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid rgba (255, 255, 255, 0.5);
    justify-content: space-between;
    align-items:flex-start
}

.session-date-item{
    cursor: pointer;
    flex-direction: column;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    text-align: center;
    height: 90px;
    width: 90px;
    justify-content: center;
    margin-right: 15px;
    transition: background-color 0.2s;
}

.session-lable{
    display: block;
    margin-bottom: 20px;
}
.session-month{
    font-style: 16px;
    line-height: 19px;
}
.session-day{
    font-weight: 900;
    font-size: 30px;
    line-height: 35px;
}
.session-week{
    font-size: 19px;
    line-height: 22px;
}

.session-date-block :hover{
    background-color: #fe8e05;
    color:#621402;
}

.Select{
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    color:#fff;
    padding: 18px;
    cursor: pointer;
    margin-top: 15px;
}

.select-cinema{
    width: 470px;
}

.scheme{
    background: rgba(36, 36, 36, 0, 0.18);
    border-radius: 10px;
}

.scheme-svg{
    max-width: 1170px;
}

.scheme path{
    fill:rgba(255, 255, 255, 0.2);
    cursor:pointer;
}

.scheme path:hover {
    fill: rgba(255, 255, 255, 0.5);
}


.scheme path.booked, .scheme path.booked:hover{
    fill: rgba(255, 255, 255, 0.05);
    cursor:not-allowed;
}

.price{
    padding-top: 20px;
    padding-bottom: 40px;
    justify-content: space-between;
}

.price-label{
    display: block;
    font-size: 18px;
    line-height: 21px;
}

.price-tag{
    font-size: 52px;
    line-height: 61px;
}

.button{
    display: block;
    background: #fe8e05;
    border-radius: 5px;
    color:white;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    padding: 24px 52px;
    text-decoration: none;
}

@media (max-width: 1200px){
    .Container{
    max-width: 960px;
    }
    .select-cinema{
        width: 100%;
    }
}

@media (max-width: 992px) {
    .Container {
        max-width: 750px;
    }
    .session{
        flex-wrap: wrap;
    }
    .session-date{
        flex-basis: 70%;
        margin-bottom: 40px;
    }
    .Session-time{
        order: 2px;
    }
    .Cinema{
        margin-top: 40px;
        order: 3px;
    }
    .Menu-item{
        margin-right: 20px;
    }
}

@media (max-width: 768px) {
    .Container {
        max-width: 560px;
    }

  
    .Menu{ 
        position: absolute;
        left: 0;
        top: 40px;
        padding-left: 20px;
        margin-left: 20px;
        flex-direction: column;
        background-color:#621402;   
        z-index: 9;
        border-radius: 10px;
        opacity: 0;
        visibility: hidden;
        transform: translateX(20%);
        transition: opacity 0.5s;
    }

    .Menu-item:not(:last-child){
        margin-bottom: 10px;
    }

    .M-Menu{
        display: block;
        width: 40px;
        height: 40px;
        margin-left: 10px;
        cursor: pointer;
    }
    .is-open {
        opacity: 1;
        visibility: visible;
        transform: translateX(0%);
    }

    .film-description{
        margin-right: 30px;
    }
    .film{
        flex-direction: column;
    }
    .film-trailer{
        margin-right: auto;
        margin-left: 0;
        margin-top: 40px;

    }
}